.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.horizontal-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.vertical-center {
  position: absolute;
  left: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

h1 {
  font-weight: lighter;
  font-size: 24px;
  line-height: 26px;
}

.cogito-layout {
  width: 100%;
}

.img-background {
  background-position: center;
  background-size: cover;
}

.btn {
  padding: 15px 25px 15px 25px;
  background-color: #ffe814;
  font-size: 16px;
  border-radius: 30px;
}
