.bg-blue {
  background-color: #498dd6;
}

.color-blue {
  color: #498dd6;
}

.bg-grey {
  background-color: #fafafa;
}

input[type=text]::-webkit-input-placeholder {
   color: #dadada;
}

input[type=text]:-moz-placeholder { /* Firefox 18- */
   color: #dadada;
}

input[type=text]::-moz-placeholder {  /* Firefox 19+ */
   color: #dadada;
}

input[type=text]:-ms-input-placeholder {
   color: #dadada;
}

input[type=submit]:focus {
   outline: none;
}

button:focus {outline:0;}

.btn-input {
  border-radius: 20px;
  background-color: #ffe814;
  color: #498dd6;
  height: 50px;
  border: none;
}

.btn-transition {
  transition: transform .3s ease;
}

.btn-transition:hover {
  transform: scale(1.02);
}

.btn-white {
  height: 40px;
  padding: 15px 25px 15px 25px;
  border-radius: 30px;
  background-color: white;
  border: 1px solid #498dd6;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.horizontal-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.vertical-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

h1 {
  font-weight: lighter;
  font-size: 24px;
  line-height: 26px;
}

.cogito-layout {
  width: 100%;
}

.img-background {
  background-position: center;
  background-size: cover;
}

.btn {
  padding: 15px 25px 15px 25px;
  background-color: #ffe814;
  font-size: 16px;
  border-radius: 30px;
  transition: all .3s ease;
}

.btn.btn-unactive {
  background-color: #fafafb;
  color: #77909d;
}

.modal-mask {
  position: fixed;
  background-color: black;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  opacity: 0;
  z-index: 99998;
}

.close-modal {
  position: absolute;
  width: 25px;
  height: auto;
  top: -30px;
  right: 0;
  cursor: pointer;
}

.modal {
  position: fixed;
  z-index: 2;
  width: 900px;
  height: 55%;
  top: 80%;
  opacity: 0;
  background-color: white;
  z-index: 99998;
  border-radius: 10px;
  -webkit-box-shadow: 0px -1px 13px 0px rgba(0,0,0,0.50);
  -moz-box-shadow: 0px -1px 13px 0px rgba(0,0,0,0.50);
  box-shadow: 0px -1px 13px 0px rgba(0,0,0,0.50);
  transition: all .3s ease;
}

.modal-hide {
  top: 110% !important;
  transform: scale(1.07) translate(-50%, -50%);
  left: 52% !important;
  opacity: 0 !important;
}

.modal-title-success {
  height: 40% !important;
}

.modal-content-success {
  height: 60%;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.modal-content-success h3 {
  max-width: 370px;
  text-align: center;
  margin: auto;
  margin-top: 30px;
}

.modal-content-success .text {
  max-width: 380px;
  text-align: center;
  margin: auto;
  display: block;
}

.modal-title {
  width: 100%;
  height: 16%;
  position: absolute;
  border-radius: 10px 10px 0px 0px;
}

.modal-title h3 {
  color: white;
  width: 100%;
  text-align: center;
  margin-top: 3%;
}

.modal-content {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 84%;
}
